<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPL Data</title>
    <h1 style="text-align: center; margin-top: 5%; color: black">IPL DATA</h1>
  </head>
  <body style="background-color: rgb(223, 171, 171); margin-top: 2%">
    <li
      style="
        text-align: center;
        background-color: rgb(223, 171, 171);
        font-style: normal;
        color: black;
      "
    >
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/bestEconomy"
          >Find player with best economy in super Over</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/economicalBowler"
          >Data of economical Bowler</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/highestdismissal"
          >Data of highest dismissal by a single bowler</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/extras"
          >Extra runs conceeded
        </a>
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/mostNumberOfPOm"
          >Most Player of the Match per season</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/matchesPerYear"
          >Matches per year</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/matchwonperyear"
          >Matches won per year</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/strikerate"
          >Strike rates of batsman</a
        >
      </ul>
      <ul>
        <a href="https://ipl-project-production-e39f.up.railway.app/wonToss"
          >List of teams that won toss and match</a
        >
      </ul>
    </li>
  </body>
</html>
